SHOPIFY_API_KEY='YOUR_SHOPIFY_API_KEY'
SHOPIFY_ADMIN_API_VERSION='2023-01'
SHOPIFY_HOSTNAME='YOUR_SHOPIFY_API_KEY'
SHOPIFY_ADMIN_API_HOSTNAME=$SHOPIFY_HOSTNAME./admin/api/$SHOPIFY_ADMIN_API_VERSION

#SHopify GraphQL
SHOPIFY_GRAPHQL_ENDPOINT=$SHOPIFY_HOSTNAME/api/$SHOPIFY_ADMIN_API_VERSION/graphql.json
SHOPIFY_STOREFRONT_TOKEN='<your shopify storefront secret token>'

#CACHE
CACHE_TOKEN='256 SHA TOKEN HERE'